body {
    border-style: double;
    border-width: 3px;
    font-family: 'Anonymous Pro', monospace;
    text-align: center;
    font-size: 13px;
}
a:hover {
    color:darkorange;  
}
ul li {
display:inline;
margin: 10px;
}
#first-hr {
    width: 600px;
    border: 2px solid grey;
}
#second-hr {
    width: 600px;
    border: 1px solid grey;
}
p {
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    width: 540px;
}
img {
    max-width: 80%;
    max-height: 80%;
}
@media screen and (max-width: 480px) {
    ul {
        float: left;
        display: inline-grid;
        text-align: left;
        margin: 10px 10px;
        padding: 0px;
        width: 100%;
    }
    p {
        float: left;
        text-align: left;
        margin: 20px;
        width: 100%;
    }
    img {
        float: left;
        margin: 20px;
        width: 100%;
    }
    body {
        border-style: none;
    }
}